$primary: #17121c;

$btn-font-family: Arial, sans-serif;
$btn-line-height: 1;

$header-height: 48px;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
